.nav-bar {
  background: #6853f7;
  height: 7%;;
  width: 100%;
  display: inline-flex;
  padding-left: 80%;
  padding-top: 1%;

  .sign-out-button {
    width: 5%;
    text-align: center;
    font-size:30px;

    i {
      cursor: pointer;
    }

  }

  .toggle-button {
    width: 5%;
    text-align: center;
    font-size: 30px;

    i {
      cursor: pointer;

    }
  }

  .pics-button {
    width: 5%;
    text-align: center;
    font-size: 30px;

    .pics-link {
      color: black;
    }
    i {
      cursor: pointer;

    }

  }
  .music-button {
    width: 5%;
    text-align: center;
    font-size: 30px;

    .music-link {
      color: black;
    }

    i {
      cursor: pointer;

    }
  }
}
